<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>姓名案例_计算属性实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstname"><br><br>
        名：<input type="text" v-model="lastname"><br><br>
        全名：{{fullname}}<br><br>

    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false //阻止vue启动时生成生产提示。
    const vm = new Vue({
        el: '#root',
        data: {
            firstname: '',
            lastname: ''

        },
        //一旦确定了只考虑读取，不考虑修改才可以用简写形式
        computed: {
            fullname() {
                console.log("被调用");
                return this.firstname + '-' + this.lastname
            }
        }
    })
</script>


</html>